body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: rgb(185, 34, 165);
    padding: 5%;
    border-radius: 8px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
  }